<template name="loginOptions">
    <li class="collection-item blue-grey darken-4 white-text"><a href="#!" id="customerLogin" class="navBtn">Customer</a></li>
    <li class="collection-item blue-grey darken-4 white-text"><a href="#!" id="agentLogin" class="navBtn">Agent</a></li>
    <li class="collection-item blue-grey darken-4 white-text"><a href="#!" id="sysAdminLogin" class="navBtn">System Admin</a></li>
</template>