<template name="navOptions">
    <li><a href="#" id="dashboard" class="navBtn">Dashboard</a></li>
    <li><a href="#" id="customers" class="navBtn">Customers</a></li>
    <li><a href="#" id="agents" class="navBtn">Agents</a></li>
    <li><a href="#" id="tickets" class="navBtn">Tickets</a></li>
</template>