.sidebar {
	height: 100%;
	width: 40px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
	white-space: nowrap;
}

#main {
	transition: margin-left .3s;
	padding: 16px;
	margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}
