<template name="headerBar">
  <ul class="sidebar blue-grey darken-4" id="sidebar-nav">
    {{#if currentUser}}
      {{> navOptions}} 
      <li class="signOut"><a href="#" class="signOut">Log Out</a></li>
    {{else}}
    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header blue-grey darken-4 white-text"><i class="material-icons 2x">face</i> Login</div>
          <div class="collapsible-body">
            <ul class="collection">
              {{> loginOptions}}
            </ul>
          </div>
        </li>
      </ul>   
    </li>
    {{/if}}
  </ul>
</template>
